@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif;
  }
}

#right-wheel,
#left-wheel {
  animation: wheel 3.5s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#man {
  animation: bike 1s ease infinite alternate;
  transform-origin: bottom;
}

#head {
  animation: head 2s ease-in-out infinite alternate;
  transform-origin: bottom right;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes bike {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(10deg);
  }
}
@keyframes head {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}

.hamburger {
  width: 24px;
  height: 24px;
}

.hamburger span {
  @apply bg-violet-900 rounded-md;
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 3px;
  transition: all 300ms;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-middle {
  opacity: 0;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(5px) translate(5px);
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(5px) translate(-5px);
}

nav ul {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 300ms;
}

nav ul.open {
  opacity: 1;
  transform: scaleY(1);
}

.faq {
  @apply lg:w-4/5 mx-auto mt-2 border-b-2 border-violet-900;
}

.faq .option {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.faq.active .option {
  max-height: 260px;
}

.faq button {
  @apply pointer-events-none flex justify-center items-center;
  transition: transform 1s ease-in-out;
}

.faq.active button {
  transform: rotate(180deg);
}

.days * {
  margin-bottom: 1rem;
}

.days .inactive {
  color: grey;
}

.days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
}
.days li.inactive {
  color: #aaa;
  pointer-events: none;
}

.days li.active {
  color: white;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  @apply bg-yellow-900;
}
.days li:not(.active):hover::before {
  @apply bg-yellow-50;
}
