@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif;
  }
}

#right-wheel,
#left-wheel {
  animation: wheel 3.5s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#man {
  animation: bike 1s ease infinite alternate;
  transform-origin: bottom;
}

#head {
  animation: head 2s ease-in-out infinite alternate;
  transform-origin: bottom right;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes bike {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(10deg);
  }
}
@keyframes head {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}

.hamburger {
  width: 24px;
  height: 24px;
}

.hamburger span {
  @apply bg-violet-900 rounded-md;
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 3px;
  transition: all 300ms;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-middle {
  opacity: 0;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(5px) translate(5px);
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(5px) translate(-5px);
}

nav ul {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 300ms;
}

nav ul.open {
  opacity: 1;
  transform: scaleY(1);
}
